.select {
  max-width: 320px;
  margin: 20px 0;
}

.form__select {
  width: 100%;
  margin-top: 5px;
}

.simple {
  /* width: 24%; */
  margin-top: 20px;
}

.quota_select {
  max-width: 320px;
  margin: 0 32px 0 0;
}
